<!DOCTYPE html>
{% load static %}
{% load cache %}
<html>

<head>
    <title>StandUp Budet — Стендап в Саратове</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
</head>

<body id="body">
    <div class="navbar">
        <div></div>
        <div class="logo_container">
            <img src="{% static 'images/logo.png' %}" alt="Логотип" class="logo" />
        </div>
        <div></div>
    </div>

    <div id="main">
        <div id="title" class="page title">{{ title }}</div>

        <div class="event-cards">
            {% cache 1200 "event_list" %}
            {% for event in events %}
            <div class="event-cards__card">
                <img src="{{ event.event_poster }}" class="event-cards__image" alt="Мероприятие" />
                <div class="event-cards__buttons">
                    <button type="button" class="about-button buttons" onclick="location.href='/about';">Подробнее</button>
                    <button type="button" class="booking-button buttons" data-tc-event="{{ event.ticketcloud_id }}" data-tc-token="eyJhbGciOiJIUzI1NiIsImlzcyI6InRpY2tldHNjbG91ZC5ydSIsInR5cCI6IkpXVCJ9.eyJwIjoiNmE3MzcyYmMyOTJjMzkwMzBhMTg0YzA3In0.sSSlkW9byYbbNSHqMylrOiEcco4UiveyHuiDLavBUYs">Забронировать</button>

                </div>
                <div class="event-cards__info">
                    <div class="gjs-custom-code">
                        <div class="page date-number">{{ event.date|date:"j" }}</div>
                        <div class="page date-month">{{ event.date|date:"E" }}</div>
                    </div>
                    <div class="page place">{{ event.venue.name }}</div>
                    <div class="page description">
                        {{ event.description }}
                    </div>
                    <span class="page price">{{ event.price }}₽</span>
                </div>
            </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>

    <div class="footer">
        <div></div>
        <div class="footer__contacts">
            <a href="mailto:standupbudet@gmail.com" class="highlight-hover page">standupbudet@gmail.com</a>
            <a href="https://www.instagram.com/standupbudet" class="highlight-hover">
                <img src="{% static 'images/inst.png' %}" alt="Instagram" class="social_icons" />
            </a>
            <a href="https://vk.com/standupbudet" class="highlight-hover">
                <img src="{% static 'images/vk.png' %}" alt="ВКонтакте" class="social_icons" />
            </a>
            <a href="https://t.me/standupbudet" class="highlight-hover">
                <img src="{% static 'images/tg.png' %}" alt="Telegram" class="social_icons" />
            </a>
        </div>
        <div></div>
    </div>

    <script src="{% static 'main.js' %}"></script>
    <script src="https://ticketscloud.com/static/scripts/widget/tcwidget.js"></script>
</body>

</html>